body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  background-color: #ccc;
  text-align: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}

.field__cell {
	height: 60px;
	width: 60px;
	border: none;
	background: none;
}

.field__cell:active,
.field__cell:focus {
	outline: none;
}

.field__cell.active {
	color: red;
}

.field__cell:nth-child(3) {
	border-left: 1px solid #000;
}

.field__cell:nth-child(1) {
	border-right: 1px solid #000;
}

.field__row {
	border-bottom: 1px solid #000;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.field__row:last-of-type {
	border-bottom: none;
}

.field {
	display: inline-block;
	margin: 20px 0;
}

.story {
	padding: 0;
	list-style: none;
}

.story a {
	color: #000;
}

.status {
	margin-top: 20px;
}

.game {
	display: inline-block;
}